<div class="home-container">
    <h1>Bienvenue au Zoo</h1>
    <p>Nous sommes ravis de vous accueillir dans notre magnifique zoo, un endroit où la nature et la découverte se rencontrent. Promenez-vous dans nos allées pittoresques et explorez une grande variété d'enclos, chacun soigneusement conçu pour offrir un habitat naturel et sûr à nos animaux.</p>
  
    <h2>Explorez nos Enclos</h2>
    <p>Venez découvrir nos nombreux enclos thématiques, où vous pourrez observer des animaux du monde entier dans des environnements qui reproduisent fidèlement leur habitat naturel. Que vous soyez fasciné par la majesté des lions dans la savane, la tranquillité des pandas dans notre forêt de bambous ou l'agilité des singes dans notre jungle luxuriante, il y a quelque chose pour émerveiller chaque visiteur.</p>
  
    <h2>Rencontrez nos Soigneurs Dévoués</h2>
    <p>Nos soigneurs passionnés et dévoués sont toujours prêts à partager leur connaissance et leur amour des animaux. Assistez à des séances d'alimentation en direct, posez vos questions et apprenez des anecdotes fascinantes sur la vie quotidienne de nos pensionnaires. Nos soigneurs travaillent sans relâche pour assurer le bien-être de chaque animal et sont impatients de partager leur passion avec vous.</p>
  
    <h2>Des Activités pour Toute la Famille</h2>
    <p>Outre les visites des enclos, notre zoo propose une variété d'activités interactives pour tous les âges. Participez à des ateliers éducatifs, des visites guidées et des spectacles animaliers qui rendent chaque visite unique et mémorable.</p>
  
    <h2>Un Engagement pour la Conservation</h2>
    <p>Nous sommes fiers de notre engagement envers la conservation des espèces et l'éducation à l'environnement. En visitant notre zoo, vous contribuez directement à nos efforts de conservation et à la protection des habitats naturels dans le monde entier.</p>
  
    <p>Nous espérons que vous passerez un moment inoubliable parmi nous et que vous repartirez avec des souvenirs précieux et une nouvelle appréciation pour la faune et la flore. Bienvenue au zoo, et bonne visite !</p>
  </div>
  