.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Ajoutez une couleur de fond semi-transparente pour le texte */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
  }
  
  h1, h2 {
    text-align: center;
    color: #333;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin: 10px 0;
  }
  
  body {
    background-image: url('../../../assets/images/lezoo.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
  }
  